In [2]:
import  script

importing data from the database

In [3]:
engine=script.create_conn()
data=script.fetch_data(engine, "xdr_data")

Connection successful

In [3]:
data

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.304243e+19,4/24/2019 1:01,410.0,4/25/2019 1:01,368.0,86399.0,2.082014e+14,3.376337e+10,3.584911e+13,D40283A,...,21854696.0,11770347.0,2600448.0,17043823.0,542749766.0,4755916.0,127686715.0,4822502.0,41495411.0,577651582.0
1,7.277826e+18,4/24/2019 1:02,48.0,4/25/2019 1:02,62.0,86400.0,2.082014e+14,3.366182e+10,8.637690e+13,D71641C,...,1430111.0,11280934.0,20101272.0,2902146.0,73297942.0,13252187.0,539711628.0,15172101.0,45682846.0,110603510.0
2,7.277826e+18,4/24/2019 1:02,562.0,4/25/2019 1:02,543.0,86399.0,2.082015e+14,3.366045e+10,3.554301e+13,L15813B,...,19843553.0,3796516.0,7644937.0,8901654.0,737921427.0,3693044.0,425719990.0,10455455.0,28310488.0,773751572.0
3,1.304243e+19,4/24/2019 1:02,859.0,4/25/2019 1:02,809.0,86399.0,2.082010e+14,3.366637e+10,3.567721e+13,D79762A,...,22181248.0,21960167.0,2394521.0,2304609.0,441231302.0,10925567.0,755367401.0,14236082.0,50204611.0,476833382.0
4,7.277826e+18,4/24/2019 1:02,693.0,4/25/2019 0:48,275.0,85554.0,2.082009e+14,3.376198e+10,3.535561e+13,L16957B,...,20427509.0,1249534.0,14847229.0,17667825.0,360817837.0,6228919.0,723671078.0,6038250.0,36213683.0,406189999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,1.304243e+19,4/24/2019 1:01,550.0,4/25/2019 1:01,468.0,86399.0,2.082021e+14,3.360147e+10,3.529901e+13,9.16456699518182E+015,...,22533418.0,18255391.0,2944856.0,17637741.0,548993163.0,12153794.0,304056120.0,12915261.0,64189503.0,583223241.0
149997,7.277826e+18,4/24/2019 1:01,553.0,4/25/2019 1:01,537.0,86399.0,2.082010e+14,3.366462e+10,3.561411e+13,D14030B,...,12086174.0,11234002.0,15726859.0,18860375.0,312344537.0,10558555.0,780914248.0,4075025.0,49349251.0,350292450.0
149998,1.304243e+19,4/24/2019 1:01,260.0,4/25/2019 1:01,186.0,86399.0,2.082014e+14,3.363518e+10,3.553191e+13,L50556C,...,22323472.0,4739809.0,5585748.0,8382008.0,216752375.0,12597882.0,79863612.0,12345390.0,38823147.0,248084790.0
149999,1.304243e+19,4/24/2019 1:01,589.0,4/25/2019 1:01,508.0,86399.0,2.082017e+14,3.366774e+10,8.637690e+13,D88345B,...,8876108.0,9473188.0,7293402.0,460248.0,642520299.0,9168982.0,482692125.0,12571201.0,33676295.0,671547271.0
150000,1.304243e+19,4/24/2019 1:27,624.0,4/25/2019 1:27,590.0,86399.0,2.082019e+14,3.364124e+10,3.560821e+13,D88893C,...,21327142.0,4599970.0,1691067.0,5460637.0,713052949.0,15599167.0,75308189.0,998581.0,29992537.0,742408778.0

In [4]:
column_names_list = data.columns.tolist()
print(column_names_list)

['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI', 'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)', 'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)', '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)', 'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)', '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)', 'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer', 'Handset Type', 'Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B', 'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B', 'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B', 'Social Media DL (Bytes)', 'Social Media UL (Bytes)', 'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)', 'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)', 'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)', 'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)', 'Total UL (Bytes)', 'Total DL (Bytes)']

prining the first  20 handset type

In [6]:
print(data['Handset Type'].head(20))

0                              Samsung Galaxy A8 (2018)
1                                      Huawei B528S-23A
2                               Apple iPhone 6S (A1688)
3                           Apple iPhone 8 Plus (A1897)
4                     Samsung Galaxy S7 Edge (Sm-G935X)
5                               Apple iPhone 6S (A1688)
6                     Samsung Galaxy S7 Edge (Sm-G935X)
7                                Apple iPhone 6 (A1586)
8                            Samsung Galaxy A5 Sm-A520F
9                                      Huawei B528S-23A
10                                     Huawei B528S-23A
11                                            Zte Mf259
12                          Samsung Galaxy Y (Gt-S5360)
13                              Apple iPhone 6S (A1688)
14                                     Huawei B528S-23A
15                                     Huawei B528S-23A
16                                     Huawei B528S-23A
17                          Apple iPhone 8 Plus (A1897)
18    Tp-Link Technolo. Tp-Link Archer Mr200 Tp-Link...
19                                     Huawei B528S-23A
Name: Handset Type, dtype: object

pringing the top 10 handset type

In [7]:
top_10_handsets = data['Handset Type'].value_counts().head(10)
print(top_10_handsets)

Handset Type
Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
undefined                        8987
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Name: count, dtype: int64

prining the top 3 manufactures

In [8]:
top_3_manufactures = data['Handset Manufacturer'].value_counts().head(3)
print(top_3_manufactures)

Handset Manufacturer
Apple      59565
Samsung    40839
Huawei     34423
Name: count, dtype: int64

prining the top 5 handset per manfacturer

In [10]:

top_3_manufacturers = data['Handset Manufacturer'].value_counts().head(3).index
filtered_data = data[data['Handset Manufacturer'].isin(top_3_manufacturers)]


top_5_handsets_per_manufacturer = filtered_data.groupby('Handset Manufacturer')['Handset Type'].value_counts().groupby(level=0, group_keys=False).nlargest(5)
print(top_5_handsets_per_manufacturer)

Handset Manufacturer  Handset Type
Apple                 Apple iPhone 6S (A1688)            9419
                      Apple iPhone 6 (A1586)             9023
                      Apple iPhone 7 (A1778)             6326
                      Apple iPhone Se (A1723)            5187
                      Apple iPhone 8 (A1905)             4993
Huawei                Huawei B528S-23A                  19752
                      Huawei E5180                       2079
                      Huawei P20 Lite Huawei Nova 3E     2021
                      Huawei P20                         1480
                      Huawei Y6 2018                      997
Samsung               Samsung Galaxy S8 (Sm-G950F)       4520
                      Samsung Galaxy A5 Sm-A520F         3724
                      Samsung Galaxy J5 (Sm-J530)        3696
                      Samsung Galaxy J3 (Sm-J330)        3484
                      Samsung Galaxy S7 (Sm-G930X)       3199
Name: count, dtype: int64